$white: #fff;
$secondary-color: #2196f3;

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .gif-item {
    height: 100px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .gif-item {
    height: 100px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones and Ipads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait),
only screen and (max-width : 480px) {
  #main {
    filter: blur(1rem);
  }
  .blur-message {
    display: flex;
    color: $white;
    font-size: 1.5rem;
    margin: auto;
    width: 75%;
  }
    
}